@model List<WebAppTwoPointsHospital.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios Cadastrados";
}

<article>
    <div>
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>

    <div class="w-100 d-flex justify-content-between mb-4">
        <a asp-controller="Usuario" asp-action="Cadastro" class="btn btn-success">Cadastrar</a>
        <a asp-controller="Estoque" asp-action="Index" class="btn btn-success">Voltar</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@user.UsuarioId</th>
                <td>@user.Nome</td>
                <td>
                    <a asp-controller="Usuario" asp-action="Detalhes" asp-route-id="@user.UsuarioId">Detalhes</a>
                </td>
                <td>
                    <a asp-controller="Usuario" asp-action="Deletar" asp-route-id="@user.UsuarioId">Deletar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</article>